@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

/* --------------------------------------------------------- */
/* ANIMATIONS NOTIFICATIONS                                  */
/* --------------------------------------------------------- */

@keyframes shrink {
  from { transform: scaleX(1); }
  to { transform: scaleX(0); }
}

/* Pour tronquer le corps du toast à 2 lignes max */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}